/* Is still used in some angular templates*/
.login-form {
  margin-bottom: $space-md;
  width: 100%;
}

.css-qtl1ql {
  border-radius: 50% !important;
  box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc !important;
}
.css-6ntnx5-button {
  background: linear-gradient(180deg, #d3d4d4 0%, #ffffff 100%) !important;
  color: #1e4080 !important;
  border: inherit !important;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.single-featured-image-header img {
  animation: zoominoutsinglefeatured 2s forwards;
}

.css-1woe985 {
  max-width: 30% !important;
  animation: zoominoutsinglefeatured 2s forwards;
}
.css-1eqpw1q {
  color: white !important;
}

.tsparticles-canvas-el {
  width: 100vw !important;
  height: 100vh !important;
}
.css-1ow9mne-input-input {
  background-color: #ffffff !important;
  -webkit-autofill {
    background-color: white !important;
  }
}
.css-1bjepp-input-input {
  background-color: #ffffff !important;
  -webkit-autofill {
    background-color: white !important;
  }
}
