/* Is still used in some angular templates*/
.login-form {
  margin-bottom: $space-md;
  width: 100%;
}
.css-1woe985 {
  max-width: 80% !important;
}
.css-1eqpw1q {
  color: white !important;
}
.css-1bjepp-input-input {
  background-color: whitesmoke !important;
  box-shadow: 0 0 0 2px #f5f5f5, 0 0 0px 4px #1f60c4 !important;
  //color: -internal-light-dark(white, white) !important;
  color: black !important;
}
.css-1ow9mne-input-input {
  background-color: white !important;
}
